@import "tailwindcss";

@theme {
  --animate-tail-wag: tail-wag-keyframes 5s infinite;

  @keyframes tail-wag-keyframes {
    0%,4%,8%,100% { transform: rotate(0deg) }
    0.5%, 4.5% { transform: rotate(-25deg) }
    2%,6% { transform: rotate(25deg) }
  }

  --bg-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --bg-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

@custom-variant dark (&:where(.dark, .dark *));
